<!-- start header -->
<header class="no-sticky">
    <!-- start navigation -->
    <nav class="navbar full-width-pull-menu navbar-top-scroll no-border-top nav-box-width white-link no-transition">
        <!-- start navigation panel -->
        <div class="container-fluid nav-header-container h-100px sm-h-70px">
            <!-- start logo -->
            <div class="col-auto ps-0">
              <%= link_to root_path, title: "Kalyce", class: "logo" do %>
                <%= image_tag("logo-white.png", alt: "Kalyce") %>
              <% end %>
            </div>
            <!-- end logo -->
            <!-- start main menu -->
            <div class="col-auto pe-0">
                <div class="menu-wrap full-screen">
                    <div class="row g-0 h-100 justify-content-center">
                        <div class="col-md-5 p-0 text-center z-index-0 d-none d-md-flex flex-column justify-content-center">
                            <div class="z-index-minus1 opacity-medium bg-extra-dark-gray"></div>
                            <%= link_to root_path, title: "Kalyce" do %>
                              <%= image_tag("logo-white.png", alt: "Kalyce") %>
                            <% end %>
                        </div>
                        <div class="col-md-7 px-0 full-screen d-flex flex-column justify-content-center xs-padding-45px-tb cover-background <%= set_bg_menu %>">
                            <div class="w-100 overflow-auto">
                                <div class="h-100 w-100">
                                    <div class="h-100 w-100 align-middle text-end padding-six-lr alt-font link-style-2 lg-padding-six-lr xs-padding-15px-lr">
                                        <!-- start menu -->
                                        <ul class="font-weight-400 no-padding-left mt-0 mb-0">
                                          <li><a href="<%= root_url %>">Home</a></li>
                                          <li><a href="<%= about_url %>">About</a></li>
                                          <li><a href="<%= treatments_url %>">Treatments</a></li>
                                          <li><a href="<%= practitioners_url %>">Practitioners</a></li>
                                          <li><a href="<%= journals_url %>">Journal</a></li>
                                          <li><a href="<%= contact_url %>">Contact</a></li>
                                        </ul>
                                        <!-- end menu -->
                                        <!-- start social links -->
                                        <div class="margin-seven-top">
                                            <div class="icon-social-large">
                                              <a href="<%= configatron.social_facebook_url %>" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                                              <a href="<%= configatron.social_linkedin_url %>" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                                              <a href="<%= configatron.social_instagram_url %>" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <!-- start social links -->
                                    </div>
                                </div>
                            </div>
                            <button class="close-button-menu" id="close-button"></button>
                        </div>
                    </div>
                </div>
                <!-- end main menu -->
                <button class="navbar-toggler mobile-toggle" type="button" id="open-button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <!-- end navigation panel -->
    </nav>
    <!-- end navigation -->
</header>
<!-- end header -->
