<!-- start product information section -->
<section class="wow animate__fadeIn fadeInUp">
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                <h5 class="alt-font text-extra-dark-gray mb-2">Sculpting your</h5>
                <h3 class="alt-font text-extra-dark-gray font-weight-400">Ethereal Beauty</h3>
                <p class="w-80 mx-auto d-inline-block sm-w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- start product gallery item -->
            <div class="col-xl-3 d-flex flex-md-column justify-content-center align-items-end margin-35px-bottom sm-margin-15px-bottom wow animate__fadeInUp">
              <img src="<%= image_url('img/img2.png') %>" class="w-80 sm-w-100 mb-4 sm-margin-10px-right" alt=""/>
              <img src="<%= image_url('img/img3.png') %>" class="w-100" alt=""/>
            </div>
            <!-- end product gallery item -->
            <!-- start product gallery item -->
            <div class="col-xl-6 text-center margin-35px-bottom sm-margin-15px-bottom wow animate__fadeInUp">
              <img src="<%= image_url('img/img1.png') %>" class="w-100 sm-w-60" alt=""/>
            </div>
            <!-- end product gallery item -->
            <!-- start product gallery item -->
            <div class="col-xl-3 d-none d-md-block d-flex flex-column justify-content-center align-items-start margin-35px-bottom sm-margin-15px-bottom wow animate__fadeInUp">
                <img src="<%= image_url('img/img4.png') %>" class="w-100 mb-4" alt=""/>
                <img src="<%= image_url('img/img5.png') %>" class="w-90 sm-w-100" alt=""/>
            </div>
            <!-- end product gallery item -->
        </div>
    </div>
</section>
<!-- end product information section -->
