<%= render "banner" %>
<%= render "about_kalyce" %>
<%= render "treatments" %>
<section class="no-padding-tb margin-700px-top sm-margin-30px-top wow animate__fadeIn fadeInUp">
    <div class="container-fluid margin-40px-bottom">
      <div class="text-center position-relative w-100">
        <span class="text-outside-line-full">
          <%= image_tag('logo-icon.png', class: "w-40") %>
        </span>
      </div>
    </div>
</section>
<%= render "practitioners" %>
<%= render "logo_separator" %>
<%= render "journals" %>
