<%= render "shared/small_banner", parent_path: practitioners_path, parent_text: "Practitioners", title: @doctor.profesional_name %>
<!-- start story section -->
<section class="pb-5 wow animate__fadeIn">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-5 col-md-6 text-center md-margin-30px-bottom wow animate__fadeInLeft">
                <%= image_tag url_for(@doctor.photo) %>
            </div>
            <div class="col-lg-7 col-md-6 text-center text-md-start padding-eight-lr lg-padding-six-lr md-padding-15px-lr wow animate__fadeInRight" data-wow-delay="0.2s">
                <span class="alt-font margin-10px-bottom d-block text-extra-large text-extra-dark-gray font-weight-600"><%= @doctor.profesional_name %></span>
                <h6 class="alt-font text-extra-dark-gray"><%= @doctor.title %></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is printing and typesetting simply dummy text.</p>

                <div class="w-70 sm-w-100 margin-20px-bottom sm-margin-50px-bottom">
                  <div class="bg-teal text-white-2 padding-20px-lr padding-5px-tb margin-15px-bottom text-large font-weight-600">Doctor Schedule</div>
                  <table class="table">
                    <tbody>
                      <% @doctor.schedules.each do |s| %>
                        <tr>
                          <td><%= s.day_name %></td>
                          <td><%= s.start_time %> - <%= s.end_time %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>

                <a class="btn btn-large btn-transparent-black text-uppercase" href="#">Book Appointment</a>
            </div>
        </div>
    </div>
</section>
<!-- end story section -->
<%= render "home/logo_separator" %>
<%= render "other_doctors" %>
